In [2]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [3]:
df = pd.read_csv(r"\Users\Admin\Desktop\2025-ZOOM\Docker-IaC\yellow_tripdata_2024-01.csv")
df.head(10)

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.00
1,1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.00
2,2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.00
3,3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.00
4,4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.00
5,5,1,2024-01-01 00:54:08,2024-01-01 01:26:31,1.0,4.70,1.0,N,148,141,1,29.6,3.5,0.5,6.90,0.0,1.0,41.50,2.5,0.00
6,6,2,2024-01-01 00:49:44,2024-01-01 01:15:47,2.0,10.82,1.0,N,138,181,1,45.7,6.0,0.5,10.00,0.0,1.0,64.95,0.0,1.75
7,7,1,2024-01-01 00:30:40,2024-01-01 00:58:40,0.0,3.00,1.0,N,246,231,2,25.4,3.5,0.5,0.00,0.0,1.0,30.40,2.5,0.00
8,8,2,2024-01-01 00:26:01,2024-01-01 00:54:12,1.0,5.44,1.0,N,161,261,2,31.0,1.0,0.5,0.00,0.0,1.0,36.00,2.5,0.00
9,9,2,2024-01-01 00:28:08,2024-01-01 00:29:16,1.0,0.04,1.0,N,113,113,2,3.0,1.0,0.5,0.00,0.0,1.0,8.00,2.5,0.00

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime )
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [12]:
engine = create_engine('postgresql://postgres:mGFeanZG@localhost:5433/postgres')

In [16]:
conn = engine.connect()

In [19]:
query = """SELECT * FROM pg_catalog.pg_tables WHERE 
schemaname != 'pg_catalog' ANG schemaname != 'information_schema'; """

with engine.connect() as conn:
    pd.read_sql(query,conn)

C:\Users\Admin\AppData\Local\Temp\ipykernel_17864\654582144.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(query,conn)

AttributeError: 'Connection' object has no attribute 'cursor'

In [20]:
print(pd.io.sql.get_schema(df,name="yellow_taxi"))

CREATE TABLE "yellow_taxi" (
"Unnamed: 0" INTEGER,
  "VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "Airport_fee" REAL
)

In [21]:
conn = psycopg2.connect(
    host='localhost',
    port=5433,
    user='postgres',
    database='postgres',
    password='mGFeanZG'
)

cursor = conn.cursor()

In [46]:
engine = create_engine('postgresql+psycopg2://', creator=lambda:conn)

In [47]:
create_query_file = open("../data/create_table.sql")
create_query = create_query_file.read()
create_query

'CREATE TABLE "yellow_taxi" (\n"Unnamed: 0" INTEGER,\n  "VendorID" INTEGER,\n  "tpep_pickup_datetime" TIMESTAMP,\n  "tpep_dropoff_datetime" TIMESTAMP,\n  "passenger_count" REAL,\n  "trip_distance" REAL,\n  "RatecodeID" REAL,\n  "store_and_fwd_flag" TEXT,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "payment_type" INTEGER,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "congestion_surcharge" REAL,\n  "Airport_fee" REAL\n)'

In [50]:
cursor.execute(create_query)

In [51]:
df_iter = pd.read_csv(r"\Users\Admin\Desktop\2025-ZOOM\Docker-IaC\yellow_tripdata_2024-01.csv",iterator=True,chunksize=1000)
chunk = next(df_iter)
merge_query_file = open("../data/insert.sql")
merge_query = merge_query_file.read()
merge_query

'INSERT INTO "yellow_taxi" \n("Unnamed: 0", "VendorID","tpep_pickup_datetime","tpep_dropoff_datetime","passenger_count","trip_distance","RatecodeID","store_and_fwd_flag","PULocationID","DOLocationID","payment_type","fare_amount","extra","mta_tax","tip_amount","tolls_amount","improvement_surcharge","total_amount","congestion_surcharge","Airport_fee")\nVALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'

In [44]:
print(chunk.dtypes)

Unnamed: 0                 int64
VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count          float64
trip_distance            float64
RatecodeID               float64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
Airport_fee              float64
dtype: object

In [52]:
for chunk in df_iter:
    data = [tuple(row) for row in chunk.to_numpy()]
    cursor.executemany(merge_query,data)

In [ ]:
info = """SELECT * FROM "yellow_taxi" LIMIT 50 """
info2 = pd.read_sql(info,conn)
info2

C:\Users\Admin\AppData\Local\Temp\ipykernel_17864\1292750093.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  info2 = pd.read_sql(info,conn)

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1000,2,2024-01-01 00:14:22,2024-01-01 00:21:53,1.0,1.17,1.0,N,170,161,4,9.3,1.00,0.5,0.00,0.00,1.0,14.30,2.5,0.00
1,1001,2,2024-01-01 00:50:35,2024-01-01 01:11:06,3.0,3.70,1.0,N,79,141,1,21.2,1.00,0.5,5.24,0.00,1.0,31.44,2.5,0.00
2,1002,2,2024-01-01 00:33:04,2024-01-01 00:53:20,2.0,2.07,1.0,N,113,114,1,18.4,1.00,0.5,5.85,0.00,1.0,29.25,2.5,0.00
3,1003,2,2024-01-01 00:55:25,2024-01-01 01:03:06,4.0,1.49,1.0,N,114,107,1,10.0,1.00,0.5,0.00,0.00,1.0,15.00,2.5,0.00
4,1004,2,2024-01-01 00:20:31,2024-01-01 00:35:14,1.0,6.56,1.0,N,88,141,1,27.5,1.00,0.5,1.00,0.00,1.0,33.50,2.5,0.00
5,1005,2,2024-01-01 00:39:35,2024-01-01 00:48:24,1.0,2.29,1.0,N,141,137,1,12.8,1.00,0.5,3.56,0.00,1.0,21.36,2.5,0.00
6,1006,2,2024-01-01 00:51:44,2024-01-01 00:59:12,1.0,1.04,1.0,N,107,113,1,8.6,1.00,0.5,2.72,0.00,1.0,16.32,2.5,0.00
7,1007,1,2024-01-01 00:23:51,2024-01-01 00:38:57,2.0,7.40,1.0,N,48,244,1,31.0,3.50,0.5,15.00,0.00,1.0,51.00,2.5,0.00
8,1008,1,2024-01-01 00:45:28,2024-01-01 00:48:41,1.0,0.60,1.0,N,244,244,2,5.8,1.00,0.5,0.00,0.00,1.0,8.30,0.0,0.00
9,1009,2,2024-01-01 00:09:47,2024-01-01 00:12:21,1.0,0.40,1.0,N,237,237,2,5.1,1.00,0.5,0.00,0.00,1.0,10.10,2.5,0.00
10,1010,2,2024-01-01 00:23:41,2024-01-01 00:33:18,1.0,1.82,1.0,N,238,140,1,12.1,1.00,0.5,5.13,0.00,1.0,22.23,2.5,0.00
11,1011,2,2024-01-01 00:41:59,2024-01-01 00:46:09,1.0,0.35,1.0,N,263,262,2,5.8,1.00,0.5,0.00,0.00,1.0,10.80,2.5,0.00
12,1012,2,2024-01-01 00:01:30,2024-01-01 00:20:28,1.0,2.57,1.0,N,50,162,1,19.1,1.00,0.5,0.00,0.00,1.0,24.10,2.5,0.00
13,1013,2,2024-01-01 00:31:27,2024-01-01 00:51:56,1.0,2.29,1.0,N,237,107,1,19.1,1.00,0.5,4.00,0.00,1.0,28.10,2.5,0.00
14,1014,2,2024-01-01 00:12:47,2024-01-01 00:20:51,2.0,1.32,1.0,N,238,151,2,10.0,1.00,0.5,0.00,0.00,1.0,15.00,2.5,0.00
15,1015,2,2024-01-01 00:39:52,2024-01-01 00:44:59,2.0,1.13,1.0,N,142,239,1,7.9,1.00,0.5,2.58,0.00,1.0,15.48,2.5,0.00
16,1016,2,2024-01-01 00:20:33,2024-01-01 00:33:53,2.0,1.88,1.0,N,50,68,1,14.2,1.00,0.5,3.84,0.00,1.0,23.04,2.5,0.00
17,1017,2,2024-01-01 00:54:29,2024-01-01 01:15:34,1.0,3.83,1.0,N,249,256,1,22.6,1.00,0.5,5.52,0.00,1.0,33.12,2.5,0.00
18,1018,2,2024-01-01 00:32:23,2024-01-01 00:34:09,2.0,0.36,1.0,N,262,263,1,4.4,1.00,0.5,6.00,0.00,1.0,15.40,2.5,0.00
19,1019,2,2024-01-01 00:37:45,2024-01-01 00:51:30,1.0,2.79,1.0,N,141,107,1,15.6,1.00,0.5,4.12,0.00,1.0,24.72,2.5,0.00
20,1020,1,2024-01-01 00:17:29,2024-01-01 00:28:14,2.0,2.80,1.0,N,236,229,2,14.2,3.50,0.5,0.00,0.00,1.0,19.20,2.5,0.00
21,1021,1,2024-01-01 00:27:46,2024-01-01 01:02:45,2.0,2.40,1.0,N,186,229,1,28.9,3.50,0.5,5.09,0.00,1.0,38.99,2.5,0.00
22,1022,1,2024-01-01 00:18:14,2024-01-01 00:32:09,2.0,5.90,1.0,N,138,198,1,24.7,7.75,0.5,10.15,0.00,1.0,44.10,0.0,1.75
23,1023,2,2024-01-01 00:16:12,2024-01-01 00:19:59,1.0,0.78,1.0,N,236,237,1,6.5,1.00,0.5,2.30,0.00,1.0,13.80,2.5,0.00
24,1024,2,2024-01-01 00:31:49,2024-01-01 00:37:35,1.0,0.83,1.0,N,236,263,1,7.2,1.00,0.5,3.05,0.00,1.0,15.25,2.5,0.00
25,1025,2,2024-01-01 00:40:21,2024-01-01 00:42:33,1.0,0.45,1.0,N,263,262,1,4.4,1.00,0.5,2.35,0.00,1.0,11.75,2.5,0.00
26,1026,2,2024-01-01 00:48:27,2024-01-01 00:53:33,1.0,2.02,1.0,N,263,229,1,10.0,1.00,0.5,3.75,0.00,1.0,18.75,2.5,0.00
27,1027,2,2024-01-01 00:54:36,2024-01-01 01:11:42,1.0,4.11,1.0,N,229,151,1,20.5,1.00,0.5,5.10,0.00,1.0,30.60,2.5,0.00
28,1028,2,2024-01-01 00:32:01,2024-01-01 00:36:50,2.0,0.70,1.0,N,237,141,1,6.5,1.00,0.5,3.45,0.00,1.0,14.95,2.5,0.00
29,1029,2,2024-01-01 00:49:54,2024-01-01 01:21:02,2.0,9.87,1.0,N,43,138,1,45.7,6.00,0.5,11.14,0.00,1.0,66.84,2.5,0.00
30,1030,2,2024-01-01 00:37:37,2024-01-01 00:53:16,2.0,3.52,1.0,N,79,261,1,19.8,1.00,0.5,4.96,0.00,1.0,29.76,2.5,0.00
31,1031,2,2024-01-01 00:38:01,2024-01-01 00:44:00,1.0,1.37,1.0,N,90,246,1,8.6,1.00,0.5,3.40,0.00,1.0,17.00,2.5,0.00
32,1032,2,2024-01-01 00:48:05,2024-01-01 01:26:03,1.0,4.64,1.0,N,68,209,1,33.8,1.00,0.5,7.76,0.00,1.0,46.56,2.5,0.00
33,1033,2,2024-01-01 00:05:10,2024-01-01 00:14:33,1.0,1.61,1.0,N,151,24,1,12.1,1.00,0.5,3.42,0.00,1.0,20.52,2.5,0.00
34,1034,2,2024-01-01 00:25:45,2024-01-01 00:42:10,1.0,1.68,1.0,N,239,48,1,15.6,1.00,0.5,4.12,0.00,1.0,24.72,2.5,0.00
35,1035,2,2024-01-01 00:47:05,2024-01-01 01:03:14,3.0,4.18,4.0,N,48,265,2,22.6,1.00,0.0,0.00,12.75,1.0,37.35,0.0,0.00
36,1036,2,2024-01-01 00:22:55,2024-01-01 00:32:57,2.0,1.71,1.0,N,114,261,2,11.4,1.00,0.5,0.00,0.00,1.0,16.40,2.5,0.00
37,1037,2,2024-01-01 00:40:29,2024-01-01 01:10:13,1.0,2.89,1.0,N,211,161,1,26.8,1.00,0.5,6.36,0.00,1.0,38.16,2.5,0.00
38,1038,2,2024-01-01 00:43:49,2024-01-01 01:15:24,4.0,18.02,1.0,N,132,49,1,69.5,1.00,0.5,14.40,0.00,1.0,88.15,0.0,1.75
39,1039,2,2024-01-01 00:04:11,2024-01-01 00:23:24,2.0,1.04,1.0,N,43,143,2,17.0,1.00,0.5,0.00,0.00,1.0,22.00,2.5,0.00
40,1040,2,2024-01-01 00:56:53,2024-01-01 01:17:17,2.0,1.56,1.0,N,186,233,1,17.7,1.00,0.5,3.40,0.00,1.0,26.10,2.5,0.00
41,1041,2,2024-01-01 00:24:12,2024-01-01 00:29:24,2.0,1.33,1.0,N,170,79,1,7.9,1.00,0.5,1.94,0.00,1.0,14.84,2.5,0.00
42,1042,2,2024-01-01 00:30:08,2024-01-01 00:33:30,2.0,0.75,1.0,N,107,107,1,5.8,1.00,0.5,1.50,0.00,1.0,12.30,2.5,0.00
43,1043,2,2024-01-01 00:22:24,2024-01-01 00:35:04,1.0,1.71,1.0,N,164,68,1,12.8,1.00,0.5,3.56,0.00,1.0,21.36,2.5,0.00
44,1044,2,2024-01-01 00:38:41,2024-01-01 01:18:51,1.0,5.89,1.0,N,158,146,1,37.3,1.00,0.5,8.46,0.00,1.0,50.76,2.5,0.00
45,1045,2,2024-01-01 00:41:51,2024-01-01 00:54:52,4.0,1.62,1.0,N,249,164,1,13.5,1.00,0.5,3.70,0.00,1.0,22.20,2.5,0.00
46,1046,2,2024-01-01 01:00:30,2024-01-01 01:16:01,4.0,1.84,1.0,N,234,161,1,14.9,1.00,0.5,3.98,0.00,1.0,23.88,2.5,0.00
47,1047,2,2024-01-01 00:20:27,2024-01-01 00:25:10,2.0,1.52,1.0,N,229,262,1,7.9,1.00,0.5,2.00,0.00,1.0,14.90,2.5,0.00
48,1048,2,2024-01-01 00:47:45,2024-01-01 01:04:45,2.0,2.41,1.0,N,107,232,1,17.0,1.00,0.5,4.40,0.00,1.0,26.40,2.5,0.00
49,1049,2,2024-01-01 00:07:19,2024-01-01 00:15:08,2.0,1.14,1.0,N,161,237,2,9.3,1.00,0.5,0.00,0.00,1.0,14.30,2.5,0.00

:

In [49]:
conn.rollback()

In [ ]:
df.head(n=20)

Empty DataFrame
Columns: [Unnamed: 0, VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, Airport_fee]
Index: []